{% extends "LokiCharacterBundle::front.html.twig" %}
{% block content %}
    <div>
        Fertigkeit {% if skill.name  is not null %} {{ skill.name }}
        {% endif %} bearbeiten.
    </div>
    {% block form %}
        <div class="form-horizontal">
            {{ form_start(form) }}
            {% for flashMessage in app.session.getFlashBag.get('form-error') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
            {% endfor %}


            {{ form_row (form.name) }}
            {{ form_row (form.attribute) }}
            {{ form_row(form.type) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

    {% endblock %}
{% endblock %}