{%  extends "LokiCharacterBundle::front.html.twig" %}
{% block content %}
    {% block CharToSkillForm %}
        Skill zu {{ character.name }} hinzufügen.
        <div class="form-horizontal">
            {{ form_start(form) }}
            {% for flashMessage in app.session.getFlashBag.get('form-error') %}
                <div class="alert alert-error">
                    {{ flashMessage }}
                </div>
            {% endfor %}


            {{ form_row(form.level) }}
            {{ form_row(form.skill) }}

            {{ form_row(form.submit) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

    {% endblock %}
{% endblock %}
