{%  extends "LokiCharacterBundle::front.html.twig" %}
{% block content %}
    <div>
        Skill {% if charSkill.skill is not null %}
            von <a href="
            {{ path("loki_character_show_character", {'characterId':character.id}) }}
            ">{{ character.name }}</a> bearbeiten.

            {% if charSkill.specializations is not null and  charSkill.specializations is not empty %}
                {% for spec in charSkill.specializations  %}
                    <div>
                        {{ spec.name }} {{ spec.level }}
                        <a href="{{ path("loki_character_charskill_edit_spec", {'specializationId':spec.id, 'characterId': character.id, 'skillId': charSkill.id}) }}"><i
                                    class="glyphicon glyphicon-pencil"></i></a>
                        <a href="{{ path("loki_character_charskill_delete_spec", {'specializationId':spec.id}) }}"><i
                                    class="glyphicon glyphicon-remove"></i></a>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            zu  {{ character.name }} hinzufügen.
        {% endif %}
    </div>
    {% block attributeForm %}
        {% for flashMessage in app.session.getFlashBag.get('form-error') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="form-horizontal">
            {{ form_start(form) }}
            {% if charSkill.skill is not null %}
                {{ charSkill.skill.name }}
            {% endif %}
            {{ form_errors(form.level) }}
            {{ form_widget(form.level) }}
            {{ form_row (form.skill) }}
            {{ form_row(form.submit) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

    {% endblock %}
{% endblock %}
