{%  extends "LokiCharacterBundle::front.html.twig" %}
{% block content %}
    <div>
        Skill zu {{ character.name }} hinzufügen.
    </div>
    {% block attributeForm %}
        {% for flashMessage in app.session.getFlashBag.get('form-error') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="form-horizontal">
            {{ form_start(form) }}
            {{ attribute.name }}
            {{ form_errors(form.level) }}
            {{ form_widget(form.level) }}

            {{ form_row(form.submit) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

    {% endblock %}
{% endblock %}
