{%  extends "LokiCharacterBundle::front.html.twig" %}
{% block content %}
    <div>
        Skill {% if charSkill.skill is not null %}
            von <a href="
            {{ path("loki_character_show_character", {'characterId':character.id}) }}
            ">{{ character.name }}</a> bearbeiten.
        {% else %}
            zu  {{ character.name }} hinzufügen.
        {% endif %}
    </div>
    {% block attributeForm %}
        {% for flashMessage in app.session.getFlashBag.get('form-error') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="form-horizontal">
            {{ form_start(form) }}
            {% if charSkill.skill is not null %}
                {{ charSkill.skill.name }}
            {% endif %}
            {{ form_errors(form.level) }}
            {{ form_widget(form.level) }}
            {{ form_row (form.skill) }}
            {{ form_row(form.submit) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

    {% endblock %}
{% endblock %}
