<table class="table">
    <thead>
    <tr>
        <th>Connections</th>
        <th>
            {% if editable == true %}
                <a href="{{ path("loki_character_edit_character_connection", {'characterId' : char.id}) }}"><i
                            class="glyphicon glyphicon-plus"></i> </a>
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for connEntry in connections %}
        <tr>
            <td>{{ connEntry.target.name }}: {{ connEntry.level }} </td>
            <td>{% if editable == true %}<a
                    href="{{ path("loki_character_edit_character_connection", {"characterId" : char.id, "connectionId" : connEntry.id, 'inDB':1}) }}">
                        <i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="{{ path("loki_character_delete_character_connection", {"characterId" : char.id, "connectionId" : connEntry.id, 'inDB':1}) }}"><i
                                class="glyphicon glyphicon-remove"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% for connEntry in connectionsNotInDB %}
        <tr>
            <td>{{ connEntry.target }}: {{ connEntry.level }} </td>
            <td>{% if editable == true %}<a
                    href="{{ path("loki_character_edit_character_connection", {'characterId' : char.id, 'connectionId' : connEntry.id, 'inDB':0}) }}">
                        <i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="{{ path("loki_character_delete_character_connection", {'characterId' : char.id, 'connectionId' : connEntry.id, 'inDB':0}) }}"><i
                                class="glyphicon glyphicon-remove"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>