{% extends 'LokiCharacterBundle::front.html.twig' %}
{% block content %}
    <div class="row">
        <div class="small-4 column">
            {{ render(controller('LokiCharacterBundle:FrontEnd:showChar', {
            'character': char
            })) }}
        </div>
        <div class="small-4 column">
            {{ render(controller('LokiCharacterBundle:FrontEnd:showAttributes', {
            'character': char,
            'showAll': showAll
            })) }}
        </div>
        <div class="small-4 column">
            {{ render(controller('LokiCharacterBundle:FrontEnd:showSkills', {
            'character': char
            })) }}
        </div>
    </div>
    <div class="row">
        <div class="small-4 column">
            {{ render(controller('LokiCharacterBundle:FrontEnd:showEquip', {
            'character': char
            })) }}
        </div>
        <div class="small-4 column">
            {{ render(controller('LokiCharacterBundle:FrontEnd:showConnections', {
            'character': char
            })) }}
        </div>
        <div class="small-4 column">
            <table class="table">
                <thead>
                <tr>
                    <th>Spells</th>
                    <th>{% if editable == true %}
                            <a href=""><i class="glyphicon glyphicon-plus"></i></a>
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for spellEntry in spells %}
                    <tr>
                        <td>{{ spellEntry.name }}: {{ spellEntry.level }} </td>
                        <td>{% if editable == true %}
                                <a href=""><i class="glyphicon glyphicon-pencil"></i></a>
                                <a href=""><i class="glyphicon glyphicon-remove"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="small-4 column">
            <table class="table">
                <thead>
                <tr>
                    <th>Ki-Kräfte</th>
                    <th>{% if editable == true %}
                            <a href=""><i class="glyphicon glyphicon-plus"></i></a>
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for power in kipowers %}
                    <tr>
                        <td>{{ power.name }}: {{ power.level }} </td>
                        <td>{% if editable == true %}
                                <a href=""><i class="glyphicon glyphicon-pencil"></i></a>
                                <a href=""><i class="glyphicon glyphicon-remove"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="small-4 column">
            <table class="table">
                <thead>
                <tr>
                    <th>Cyberware</th>
                    <th>{% if editable == true %}
                            <a href=""><i class="glyphicon glyphicon-plus"></i> </a>
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for cyberwareEntry in cyberware %}
                    <tr>
                        <td>{{ cyberwareEntry.name }} {{ cyberwareEntry.level }}: {{ cyberwareEntry.cost }} </td>
                        <td>{% if editable == true %}
                                <a href=""><i class="glyphicon glyphicon-pencil"></i></a>
                                <a href=""><i class="glyphicon glyphicon-remove"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block custom_javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("span.tooltipSpan").popover({
                'placement': 'right',
                'trigger': 'click',
                'animation': true
            });
        });
    </script>
{% endblock %}