{% extends '::base.html.twig' %}

    {% block title %}
        Lokis Character Datenbank
    {% endblock %}
{% block body %}
    {% block navbar %}

        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{{ path("loki_character_index") }}">Shadowrun Characterdatenbank</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    {% block loginForm %}
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <form class="" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                                <li>
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}"/>
                                </li>
                                <li>
                                    <input type="text" title="Benutzername" name="_username" class=""
                                           placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
                                </li>
                                <li>
                                    <input type="password" title="Kennwort" name="_password" class=""
                                           placeholder="Kennwort">
                                </li>
                                <li>

                                    <button type="submit" class="btn btn-success">Einloggen</button>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_resetting_request') }}" rel="nofollow">Kennwort
                                        vergessen?</a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="{{ path('fos_user_registration_register') }}">Jetzt
                                        kostenlos anmelden!</a>
                                    {#</div>#}
                                </li>
                            </form>

                        {% else %}

                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Hallo {{ app.user.username }},</a>
                            </li>
                            <li>

                                <a href="{{ path('fos_user_profile_show') }}">Dein Profil</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-remove-circle"></i>
                            </li>

                        {% endif %}
                    {% endblock %}
                </ul>
            </section>
        </nav>

    {% endblock %}

    <aside class="left side-nav">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% block sideBar %}
                <div>
                    <ul>
                        <li>
                            Verwaltung:
                        </li>
                        <li>
                            <a href="{{ path("loki_character_show_character_for_user", {'userId' :  app.user.id}) }}">Meine
                                Character</a>
                        </li>
                        <li class="active">
                            <a href="{{ path("loki_character_add_character") }}">Neuer Character</a>
                        </li>
                        <li><a href="{{ path("loki_character_skill_index") }}">Skills</a></li>
                        <li><a href="">Platzhalter</a></li>
                    </ul>
                </div>
            {% endblock %}
        {% endif %}
    </aside>


    <div class="row">
        <div class="small-6 large-centered columns"><img src="{{ asset('bundles/lokicharacter/images/sr2logo.png') }}"></div>
    </div>
    <div class="row">
            {% block flashMessage %}
                {% for flashMessage in app.session.getFlashBag.get('error') %}
                    <div class="alert-box alert radius">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.getFlashBag.get('success') %}
                    <div class="alert-box success radius">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.getFlashBag.get('info') %}
                    <div class="alert-box info radius">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endblock %}
    </div>
            {% block content %}

            {% endblock %}



    {% block footer %}
        {#jumbotron#}
        <footer>
            <h4>by Loki</h4>
        </footer>
    {% endblock %}
{% endblock %}